body{
    margin:0px;
    background-color: rgb(187, 185, 185);
}

.navbar{
    background-color: black;
    font-size: 2rem;
    color: white;
}

.navtext{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info p{
    font-size: 1.2rem;
    font-weight: 600;
}

.form-tab{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#guess{
    margin: 0.5rem 0rem;
    font-size: 1.6rem;
    font-weight: 600;
}

#guessField{
    border: none;
    border-radius: 0.6rem;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    text-align: center;
}

#subt{
    border: none;
    border-radius: 0.8rem;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    cursor: pointer;
    background-color: rgb(29, 2, 2);
    color: white;
}

#subt:hover{
    color: rgb(29, 2, 2);
    background-color: white;
}