body{
    margin:0px;
    background-color: rgb(187, 185, 185);
}

.navbar{
    background-color: black;
    font-size: 2rem;
    color: white;
}

.navtext{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info p{
    font-size: 1.2rem;
    font-weight: 600;
}

.form-tab{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

